<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Players</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
  <link rel="stylesheet" href="/css/home.css">
</head>
<body>

<table class="table table-striped table-responsive-md">
  <thead>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>price</th>
    <th>domestic_team</th>
    <th>age</th>

    <!--        <th sec:authorize="hasRole('ROLE_ADMIN')">Edit</th>-->
    <!--        <th sec:authorize="hasRole('ROLE_ADMIN')">Delete</th>-->
  </tr>
  </thead>
  <tbody>
  <tr th:each="players : ${players}">
    <td th:text="${players.id}"></td>
    <td th:text="${players.name}"></td>
    <td th:text="${players.price}"></td>
    <td th:text="${players.domestic_team}"></td>
    <td th:text="${players.age}"></td>

    <!--        <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/books/edit/{id}(id=${book.id})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>-->
    <!--        <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/books/delete/{id}(id=${book.id})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>-->
  </tr>
  </tbody>
</table>


</body>
</html>