<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Players</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>

<table class="table table-striped table-responsive-md">
    <thead>
    <tr>

        <th>id</th>
        <th>face</th>
        <th>name</th>
        <th>price</th>
        <th>domestic_team</th>
        <th>age</th>
        <th>
            <div>
                <a th:href="@{/player/add}" style="alignment: center" class="btn btn-danger btn-sm mb-3">Add
                    player</a>
            </div>
        </th>

        <!--        <th sec:authorize="hasRole('ROLE_ADMIN')">Edit</th>-->
        <!--        <th sec:authorize="hasRole('ROLE_ADMIN')">Delete</th>-->
    </tr>
    </thead>
    <tbody>
    <tr th:each="players : ${players}">
        <td th:text="${players.id}"></td>

        <td>
            <img th:src="@{/playerfaces/donnaruma.png}" width="40" height="25">
            <img th:src="@{/playerfaces/meret.png}" width="40" height="25">


        </td>
        <!--      <td>-->
        <!--          <img th:src="@{../static/playerfaces/face}"/>-->
        <!--      </td>-->
        <!--    <td>-->
        <!--      <img th:src="@{/playerfaces/{image}(${players})}" width="40" height="25"-->
        <!--           style="alignment: center" class="img-responsive center-block"/>-->
        <!--    </td>-->


        <td th:text="${players.name}"></td>
        <td th:text="${players.price}"></td>
        <td th:text="${players.domestic_team}"></td>
        <td th:text="${players.age}"></td>

        <td>
            <a th:href="@{/player/update(playersId=${players.id})}"
               style="alignment: center" class="btn btn-warning btn-sm mb-3">Update</a>
        </td>


        <td>
            <a th:href="@{/player/delete/{id}(id=${players.id})}" style="alignment: center"
               class="btn btn-warning btn-sm mb-3">Delete</a>
        </td>

        <!--        <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/books/edit/{id}(id=${book.id})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>-->
        <!--        <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/books/delete/{id}(id=${book.id})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>-->
    </tr>
    </tbody>
</table>


</body>
</html>