<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>TeamBasement</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
  <link rel="stylesheet" href="/css/home.css">
</head>
<body>

<table class="table table-striped table-responsive-md">
  <thead>
  <tr>
    <th>id</th>
    <th>team_id</th>
    <th>player_id</th>
    <div>
      <a th:href="@{/teamBasement/add}" style="alignment: center" class="btn btn-danger btn-sm mb-3">Add
        player</a>
    </div>


  </tr>

  <tbody>
  <tr th:each="teamBasement : ${teamBasement}">
    <td th:text="${teamBasement.id}"></td>
    <td th:text="${teamBasement.team_id}"></td>
    <td th:text="${teamBasement.player_id}"></td>

  </tr>
  </tbody>
</table>








</body>
</html>